.custom-navbar {
    background-color: #ff5733; /* Cor de fundo personalizada */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: rgba(255, 222, 222, 0.648); /* Cor do texto */
}

.custom-navbar .nav-link:hover {
    color: #ffcc00; /* Cor do texto ao passar o mouse */
}