{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="jusitfy">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper lorem sed imperdiet gravida. Pellentesque nec efficitur lacus. In hac habitasse platea dictumst. Nam diam nibh, ultricies eget mi at, pellentesque rutrum turpis. In mollis, nibh quis ultrices luctus, mauris lacus egestas tellus, a interdum augue ex vitae ante. Nulla faucibus nibh justo, non tristique lectus tempus in. Vestibulum convallis varius tellus imperdiet ultrices. Vestibulum accumsan, nibh posuere dictum commodo, arcu urna gravida ipsum, id varius quam odio vitae lacus. Phasellus quis arcu consequat, mollis quam eget, commodo metus. Mauris sit amet elementum nibh, sit amet lacinia lectus. Nullam posuere at mi vel congue. Vivamus sit amet tristique erat.
                    <br/><br/>
                    In hac habitasse platea dictumst. Fusce magna augue, tincidunt sed turpis in, sodales placerat ligula. Morbi pulvinar consequat eros, vel consectetur est rhoncus id. Fusce vel imperdiet ipsum. Proin non auctor tellus. Maecenas quam dolor, pellentesque id mi vitae, ultricies eleifend ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed vitae porta diam. Vivamus non augue eu nulla pellentesque efficitur a at arcu. Nunc sed mollis erat. In lobortis placerat lectus, in egestas lorem facilisis eget. Nam feugiat tristique leo eget vestibulum. Sed neque metus, posuere vitae porttitor eu, molestie vitae erat.
                    <br/><br/>
                    Etiam dignissim blandit eleifend. Sed consequat risus vitae ante feugiat fermentum. Nunc est metus, ultrices blandit condimentum cursus, porta et eros. Aenean luctus diam non dictum finibus. Donec ut condimentum tellus. Ut consectetur arcu ut purus dictum blandit. Proin dignissim viverra dolor in pulvinar. Cras dignissim nibh tempor scelerisque fringilla. Vestibulum egestas sollicitudin egestas. Vestibulum eget nibh dignissim, commodo dolor vitae, placerat lorem.
                    <br/><br/>
                    In ut nulla sollicitudin, hendrerit ipsum in, congue nisi. Nulla dictum ligula vitae enim consequat, eu aliquam ante aliquam. Donec nec magna ligula. Fusce gravida dignissim eros at maximus. Phasellus semper a turpis quis luctus. Praesent fringilla lectus in mi ultrices, sed condimentum dolor ultrices. Nam egestas vestibulum neque sed luctus. Phasellus est mauris, placerat a elit eget, porttitor laoreet tellus. Donec bibendum massa at tortor gravida dapibus. Nam ullamcorper laoreet neque efficitur pellentesque. Duis libero purus, ultricies nec hendrerit et, dignissim eget est. Nunc pellentesque auctor lorem sed efficitur. Donec congue nibh tempor, bibendum metus sit amet, cursus ante. Pellentesque gravida arcu sed orci rhoncus, sit amet maximus mi tempus. Aenean a risus dictum, fringilla enim a, lacinia libero. Nulla accumsan vulputate nisi eget imperdiet.
                    <br/><br/>
                    Cras pulvinar augue vitae nibh molestie convallis. Phasellus imperdiet ut arcu non aliquam. Aliquam feugiat elementum nisl, posuere tincidunt magna mattis quis. Fusce a feugiat ante, in sollicitudin ex. Nam posuere, augue in euismod porta, erat neque hendrerit ligula, quis scelerisque velit ex eget tellus. Aenean a mauris quis purus accumsan imperdiet sit amet et sapien. Phasellus dignissim, turpis non maximus feugiat, odio lacus volutpat turpis, vitae condimentum lacus arcu vitae turpis. Integer porttitor augue nisl, mattis condimentum ex maximus vel. Quisque vestibulum venenatis dui a tempor. Sed sit amet tincidunt erat. Integer accumsan felis sed felis fermentum interdum. In vitae urna nec sem lobortis tincidunt nec sit amet tortor. Sed quis sagittis metus, in pellentesque enim. Duis vel ipsum sodales, convallis quam vitae, faucibus massa.
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>
{% endblock %}