{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <br/><br/><br/>
    <div class="card {% if page == 'home' %}card-home{% else %}card-product{% endif %} mb-3">
        <!-- Imagem Ajustada -->
        <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="..."
            style="max-height: 250px; object-fit: cover;">
        
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            {% if product.is_sale %}
                <strike>${{ product.price }}</strike>
                <span>${{ product.sale_price }}</span>
            {% else %}
                <span>${{ product.price }}</span>
            {% endif %}
            <br/><br/>
            <div class="d-flex justify-content-between">
                <select class="form-select form-select-sm w-50" id="qty-cart">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button type="button" value="{{ product.id }}" class="btn btn-primary" id="add-cart">Add to cart</button>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/><br/><br/><br/>
<script>   
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault(); 
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                // Redirecionar para a página do carrinho após adicionar o produto
                window.location.href = "{% url 'cart_summary' %}";
            },
            error: function(xhr, errmsg, err){
                console.error("Erro ao adicionar ao carrinho:", errmsg);
            }
        });
    });
</script>

{% endblock %}
